# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Data (Optional: if data is too large for git)
# data/
